<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBL4mECXglz6FGFokUv6w6yGivZgnWovh8</string>
	<key>GCM_SENDER_ID</key>
	<string>409468177523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scheduleForIctisFlutter</string>
	<key>PROJECT_ID</key>
	<string>scheduleforictis</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduleforictis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409468177523:ios:7224f0d0ade31e43212e06</string>
	<key>DATABASE_URL</key>
	<string>https://scheduleforictis-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>